<!-- Header Bar -->

    <style>
        #headerPfp {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }
	</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand"  id="home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="<%= pfp %>" alt="Profile Picture" class="rounded-circle me-2" id="headerPfp">
                        <span><%= firstname %> <%= lastname %></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item"  id="profileLink">Profile</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', async function() {
        // Fetch profile information

        // Add event listener to the profile link
        document.getElementById('profileLink').addEventListener('click', function(event) {
            event.preventDefault();
            window.location.replace('/profile');
        });

        document.getElementById('home').addEventListener('click', function(event) {
            event.preventDefault();
            window.location.replace('/');
        });
    });
</script>
