<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Login</h1>
        <form id = 'loginForm'>
			<div class="form-group">
				<label for="email">Email address</label>
				<input type="email" class="form-control" id="email" name="email" required>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" required>

				<div class="invalid-feedback" id="invalid-login"></div>
			</div>
			<!-- reCAPTCHA -->
            <div class="g-recaptcha" data-sitekey="<%= process.env.RECAPTCHA_SITE_KEY %> "></div>
			<button type="submit" class="btn btn-primary mt-3" id='btn-login'>Login</button>

		</form>
        <!-- <button type="submit" class="btn btn-secondary mt-3" id='btn-home'>Home</a> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('loginForm').addEventListener('submit', async function(event) {
                event.preventDefault();
                const form = event.target;
				//console.log(form)
                const formData = new FormData(form);
                const button = document.getElementById('btn-login');
				document.getElementById('invalid-login').textContent =''
				document.getElementById('email').classList.remove('is-invalid')
				document.getElementById('password').classList.remove('is-invalid')
				try {
					const response = await fetch('/login', {
						method: 'POST',
						body: formData
					});
					//console.log(response)
					console.log(response)
					if (!response.ok) {

						const errorElement = document.getElementById('invalid-login')
						//const inputElement = document.getElementById();
						if (errorElement) {
									//console.log(errorElement)
							if(response.status===400){
								errorElement.textContent = 'Invalid Login Credentials';
							}else if(response.status===429){
								errorElement.textContent = 'Too many requests'
							}else{
								errorElement.textContent = 'Unknown error'
							}
							
							document.getElementById('email').classList.add('is-invalid')
							document.getElementById('password').classList.add('is-invalid');
						}
					} else {
						//console.log(response)
						alert('Login successful');
						window.location.href = response.url
					}
				} catch (err) {
					//console.error('Error:', err);
				}
            });
        });
	</script>
</body>
</html>
